@using BoldBI.Embed.Sample.Models;
@{
    ViewBag.Title = "Home";
    Layout = null;
}

@{
    bool isConfigLoaded = (bool)ViewBag.IsConfigLoaded;
}

@if (isConfigLoaded)
{
    <!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
            <link rel="stylesheet" href="~/Content/Site.css" />
            <script type="text/javascript" src="https://cdn.boldbi.com/embedded-sdk/latest/boldbi-embed.js"></script>
            <script type="text/javascript" src="~/Scripts/Embed/Index.js"></script>
            <script type="text/javascript">
            var rootUrl = "@GlobalAppSettings.EmbedDetails.ServerUrl";
            var dashboardId = "@GlobalAppSettings.EmbedDetails.DashboardId";
            var siteIdentifier = "@GlobalAppSettings.EmbedDetails.SiteIdentifier";
            var environment = "@GlobalAppSettings.EmbedDetails.Environment";
            var embedType = "@GlobalAppSettings.EmbedDetails.EmbedType";
            var tokenGenerationUrl = "@Url.Action("TokenGeneration", "Home")";
            </script>
        </head>

        <body onload="renderDashboard(dashboardId)">
            <div id="viewer-section" style="width: 100%";>
                <div id="dashboard"></div>
            </div>
        </body>
    </html>
}

else
{
    <html>
    <head>
        <link rel="stylesheet" href="~/Content/Site.css" />
        <script type="text/javascript" src="~/Scripts/Embed/Index.js"></script>
    </head>
    <body onload="embedConfigErrorDialog()">
    </body>
    </html>
}